<div class="box-content">
  <h3>Add Product</h3>
  <input placeholder="Enter Product Name" [(ngModel)]="productName" />
  <button (click)="handleAdd()">Add</button>
</div>

<div class="box-content">
  <h3>Apply style</h3>
  <input
    placeholder="Enter Color"
    value="{{ colorName }}"
    (change)="handleChange($event)"
  />
</div>

<div class="box-content">
  <app-product-details
    [product]="productName"
    [details]="productDetails"
    [colorName]="colorName"
    (handleDelete)="handleDelete($event)"
  >
    <h3 #detailsProduct>{{ productTitle }}</h3>
  </app-product-details>
</div>
